<a href="https://colab.research.google.com/github/shrirangdiwakar/LetsUpgrade-Python-Batch-4/blob/master/Day6_Shrirang_Diwakar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### **Assignment 1 : Bank Account Manager**

In [30]:
print("\033[1m*****Welcome to Bank Account Manager*****\033[0m")
class bankacc():

  def __init__(self,owner,balance):
    self.owner = owner               
    self.balance = balance

  def deposit(self,amount):
    self.balance = self.balance + amount
    print("\n\n\033[1m\033[32m The Amount has been deposited in",self.owner,"'s bank account")
    print("\n\033[30m The Total Balance Now is :",self.balance)

  def withdraw(self,amount):
    if self.balance>=amount:
      self.balance = self.balance - amount
      print("\n\n\033[1m\033[32m The Amount is Withdrawed successfully from",self.owner,"'s bank account")
      print("\n\033[30m The Remaining Balance is :",self.balance)
    else :
      print("\n\n\033[91m Sorry, You don't have Sufficient balance\033[0m")

*****Welcome to Bank Account Manager*****

In [0]:
person1 = bankacc("Shrirang",983773)

In [32]:
person1.deposit(30000)

 The Amount has been deposited in Shrirang 's bank account

 The Total Balance Now is : 1013773

In [33]:
person1.withdraw(982773)

 The Amount is Withdrawed successfully from Shrirang 's bank account

 The Remaining Balance is : 31000

In [34]:
person1.withdraw(32000)

 Sorry, You don't have Sufficient balance

In [0]:
person2 = bankacc("Shri",99987)

In [36]:
person2.withdraw(99987)

 The Amount is Withdrawed successfully from Shri 's bank account

 The Remaining Balance is : 0

In [37]:
person2.deposit(7288282)

 The Amount has been deposited in Shri 's bank account

 The Total Balance Now is : 7288282

In [38]:
person2.withdraw(3)

 The Amount is Withdrawed successfully from Shri 's bank account

 The Remaining Balance is : 7288279

##### **Assignment 2 : Cone Class with calculating its properties**

In [0]:
import math

In [0]:
class cone():
  pi = 3.142
  def __init__(self,radius,height):
    print("\n\033[1m*****Welcome to Cone Area-Volume Calculator*****\033[0m")
    self.radius = radius
    self.height = height

  def cal_volume(self):
    print("\033[32mThe Volume of the Cone is :",cone.pi*self.radius*self.radius*(self.height/3))

  def cal_surface(self):
    choice = int(input("\n\nWhich Surface Area you want? \n1.Base Surface Area \n2.Side Surface Area\n\nEnter Your Choice"))
    if choice == 1:
      print("\n\n\033[32mThe Base Surface Area of Cone is :",cone.pi*self.radius*self.radius)

    elif choice == 2:
      print("\n\n\033[32mThe Side Surface Area of Cone is :",cone.pi*self.radius*math.sqrt((self.radius*self.radius)+(self.height*self.height)))
    
    else :
      print("\n\n\033[91m Wrong Choice\033[0m")

In [60]:
cone1 = cone(30,20)

*****Welcome to Cone Area-Volume Calculator*****

In [61]:
cone1.cal_volume()

The Volume of the Cone is : 18852.0

In [62]:
cone1.cal_surface()

Which Surface Area you want?
1.Base Surface Area
2.Side Surface Area

Enter Your Choice1


The Base Surface Area of Cone is : 2827.7999999999997

In [63]:
cone1.cal_surface()

Which Surface Area you want?
1.Base Surface Area
2.Side Surface Area

Enter Your Choice2


The Side Surface Area of Cone is : 3398.592632252356

In [65]:
cone1.cal_surface()

Which Surface Area you want?
1.Base Surface Area
2.Side Surface Area

Enter Your Choice4


 Wrong Choice